 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background: #f5f5f5;
    color: #333;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
  }

  .logo {
    color: #fff;
  }

  nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
  }

  nav a:hover {
    color: #00adb5;
  }

  .home {
    height: 100vh;
    background: linear-gradient(135deg, #00adb5, #009aa1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 100px;
  }

  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 20px;
  } 
  .home h1 {
  font-size: clamp(28px, 6vw, 46px);
  }
  .home p {
    margin: 10px 0 25px;
  }

  .btn {
    padding: 14px 30px;
    margin: 8px;
    background: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
  }

  .btn:hover {
    background: #fff;
    color: #111;
  }

  section {
    padding: 100px 20px;
    text-align: center;
  }

  .skills .skill-box span {
    display: inline-block;
    margin: 8px;
    padding: 10px 18px;
    background: #111;
    color: #fff;
    border-radius: 20px;
  }

  .projects {
    background: #eee;
  }

  .project-card {
    background: #fff;
    max-width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  .project-link {
    display: inline-block;
    margin-top: 15px;
    color: #00adb5;
    text-decoration: none;
    font-weight: 500;
  }

  .contact p {
    margin: 8px 0;
  }

  .footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
  }

  /* Scroll Animation */
  .reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: 0.8s ease;
  }

  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }
  .home-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

  /* Mobile Responsive */
  @media (max-width: 768px) {

  .home h1 {
    font-size: 32px;
  }

  .home-buttons {
    flex-direction: column;
    width: 100%;
  }

  .btn {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  nav {
    display: none;
  }
}

